<h3>todo-reactive-form works!</h3>
<div class="col-4">
  <div class="card">
    <div class="card-body">

      <form  class="row g-3" (submit)="submit($event)">
        <div class="mb-3">
          <label for="todoTitle" class="form-label">Title</label>
          <input type="text" [formField]="todoForm.title" class="form-control" id="todoTitle"  aria-describedby="titleHelp" />
          <div id="titleHelp" class="form-text">Todo title.</div>
          @if(todoForm.title().invalid() && todoForm.title().touched()){
            <div class="alert alert-danger mt-2" role="alert">
              Title is required.
            </div>
          }
        </div>
        <div class="mb-3 form-check">
          <input type="checkbox"  [formField]="todoForm.completed" class="form-check-input" id="todoCompleted"  />
          <label class="form-check-label" for="todoCompleted">Completed</label>
        </div>
        <button type="submit" class="btn btn-primary" [disabled]="todoForm().invalid()">Submit</button>
      </form>
    </div>
  </div>
</div>

